html, body {
	width: 99%;
	height: 96%;
	font-family: Dejavu Sans, sans-serif;
	overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

h1, h2, form {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

nav {
	display: flex;
	background: #ff49ff;
	justify-content: space-between;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 99%;
  height: 70px;
}

nav #logo {
	font-size: 4em;
	text-decoration: none;
	color: #9000ad;
}

nav #logo span {
	margin-left: 20px;
	font-size: 3rem;
}

nav #cart {
  font-size: 2rem;
  color: #000000;
  text-decoration: none;
  align-self: flex-end;
  transition: .8s all;
}

nav #cart:hover {
  transform: scale(1.1);
}

nav #cart span {
  padding: 2px 4px;
  border-radius: 9px;
  font-size: 1rem;
  background-color: #FFFFFF;
  display: ruby-text;
  position: relative;
}

.btn {
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 5px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	transition: .8s all;
	border-radius: 2px;
}

.btn:hover {
	background: #CCCCCC;
  cursor: pointer;
}

.container {
	margin-top: 90px;
}

input[type='checkbox'] {
    display: none;
}

input[type='submit'], input[type='button'] {
    font-size: 1rem;
    cursor: pointer;
}

form {
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-around;
}

label:hover {
    transform: scale(1.1);
}

.fantasy {
  width: 240px;
  padding: 15px;
  border: 2px solid #b401b9;
  border-radius: 6px;
  background: #fcf2ff;
  transition: 1s all;
}

.fantasy:hover {
  margin-top: -30px;
}

.fantasy i {
	color: #d036da;
	font-size: 3em;
}

#fantasies-container {
  padding-top: 20px;
}

#cart-container *, #checkout-container * {
  text-align: center;
}

#cart-container input[type="number"] {
  height: 10px;
}

#cart-container, #checkout-container {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}

thead th {
  background-color: #FFE9FF;
  border: solid 1px #FFE9FF;
  color: #9000AD;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}

tbody td {
  border: solid 1px #DDEEEE;
  background-color: #FFFFFF;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}

tfoot td {
  background-color: #FFE9FF;
  border: solid 1px #FFE9FF;
  color: #9000AD;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}

#cart-container .flexbox button {
  margin-left: 5px;
}

.flexbox.flex-end {
  justify-content: flex-end;
}

.btn::before {
  margin-right: 10px;
}

.flexbox {
  display: flex;
}

#checkout-container h1 {
  color: #ff7cff;
}

#container-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 3rem;
}

#container-msg i {
  font-size: 8rem;
  margin: 5% 0%
}

.container.success {
  color: green;
}

.container.failure {
  color: red;
}

#empty-cart {
  font-size: 2em;
}

table .fas {
  margin-right: 10px;
}
